In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import product
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers # type: ignore
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [7]:
np.random.seed(42)
tf.random.set_seed(42)

In [12]:
x,y = make_classification(n_samples=10000,n_features=20,n_informative=10,
                            n_redundant=2,n_repeated=0,n_classes=2,
                            class_sep=1.0,flip_y=0.01,random_state=42)

In [13]:
import pandas as pd

df = pd.DataFrame(x)
df['label'] = y
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,label
0,1.145527,-1.431231,1.343553,-2.226251,2.836266,0.393725,0.497039,-2.679342,-0.484000,0.543561,...,-3.385892,1.383486,0.848493,-2.740663,0.032651,-1.854549,-3.469541,1.938754,-1.602788,1
1,-0.398627,-4.021327,0.303138,1.891864,-1.176440,-0.494744,2.242590,4.944493,3.005969,0.696579,...,-1.516941,0.081452,-3.955249,-3.488351,3.537090,3.070008,2.241036,-2.255867,0.882113,0
2,1.373291,-0.178694,-1.590718,3.107308,0.980686,0.828572,-0.524063,0.439533,1.717222,0.720226,...,-3.646519,0.468561,-2.909754,-3.210179,-0.656369,1.337481,0.687274,-1.598358,0.365950,1
3,-0.334228,1.811195,2.606076,2.305094,-0.093021,-0.619862,1.070445,-0.912655,-2.038940,-1.243452,...,-0.877006,-1.317697,-0.485025,-1.100836,-2.959932,-0.203805,-0.222513,-0.947643,-0.275123,1
4,1.371725,-4.808889,1.564857,5.449681,-1.988532,-1.030014,0.019262,5.393165,0.067129,-1.160891,...,-0.049544,0.627094,-3.405261,0.025678,3.169422,-1.188827,-0.005081,-3.915832,-1.398771,0

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=42)