In [1]:
import numpy as np
import  matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import mean_squared_error

In [2]:
data = {
    "sno": [1, 2, 3, 4, 5, 6],
    "Temperature": [0, 20, 40, 60, 80, 100],
    "Pressure": [0.0002, 0.0012, 0.006, 0.03, 0.09, 0.27]
}

datas = pd.DataFrame(data)
datas.head()

   sno  Temperature  Pressure
0    1            0    0.0002
1    2           20    0.0012
2    3           40    0.0060
3    4           60    0.0300
4    5           80    0.0900